# Introduccion a Python

## Expresiones booleanas

Pueden ser verdaderas (`true`) o (`false`)
Operadores de comparacion

- igual : `==` o `is`
- distinto de: `!=` o `is not`
- mayor,menor,mayor igual o menor igual : `>`,`<`,`>=`,`<=`

In [1]:
5 == 5

True

In [2]:
5!=5

False

## Operadores Logicos

`and` , `or` y `not`

In [3]:
x=10

In [4]:
x > 0 and x < 10

False

In [5]:
x>0 and not x<10

True

## Ejecucion condicional: if, elif, else

La sentencia `if` finaliza con dos puntos (si hay saltos de linea el bloque debe estar identado)

In [6]:
if x>=5 and x<10:
    print('Aprobado')
elif x == 10:
    print('Matricula')
    print('campeon')
else: 
    print('suspenso')

Matricula
campeon

## Captura de excepciones

Si se sabe que cierta secuencia de instrucciones puede generar un problema es posible añadir sentencias para que se ejecuten en caso de error, por ejemplo `try` y `except`

In [7]:
entrada = input('introduzca la temperatura en Farenheit: ')

try:
    farenheit = float(entrada)
    celsius = (farenheit-32) * 5/9
    print(celsius)
except:
    print('Por favor introduca un numero')

introduzca la temperatura en Farenheit: noventa
Por favor introduca un numero

## Funciones

Una funcione recibe argumentos de entrada y devueve resultados

- Funciones internas: `max` ,`min´, ´len´
- Funciones de conversion de tipos: `int('32')`,  `float('32.89')`, `str('32')` ....
- Funciones matematicas (Hay que importar modulo `math`): `math.log10(20)` , `math.sin(90)`

Crear Nueva funcion:

In [8]:
def mi_exponencial(numero, exponente, cte):
    import math
    exp = (numero**exponente)-math.sin(cte)
    return(exp)

LLamada a la funcion:

In [9]:
mi_exponencial(3,2,90)

8.106003336399443

## Iteraciones: bucles for

En el siguiente ejemplo, la variable `amigos` es una lista de tres strings y el bucle `for` recorre esta lista, utilizando la variable `amigo`, que cambia cada ejecucion del bucle

In [10]:
amigos = ['Churri','Pedro','Gonzalo']
for amigo in amigos:
    print('Hola',amigo)

Hola Churri
Hola Pedro
Hola Gonzalo

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
for j in range(4,10,2):
    print(j)

4
6
8

## Bucle while

In [13]:
n = 3
while n > 0:
    print(n)
    n = n-1
print('Accion')

3
2
1
Accion

`break`: permite salir de un bucle cuando se desee
`continue`: salta de una iteracion a otra

In [14]:
n = 3
while n > 0:
    print(n)
    n = n-1
    if n==2: break
print('Accion')

3
Accion

## Listas

In [15]:
l1 = [10,30,50]
l2 = ['uno','dos','tres']
l3 = ['hola', 2.9 , [10,20]]

El operador corchete permite acceder a lso elemntos de una lista, indices empiezan por 0

In [16]:
l3[0]

'hola'

In [17]:
l3[-1][0]

10

In [18]:
l2[0:2]

['uno', 'dos']

In [19]:
len(l2)

3

## Diccionarios

Pueden tener indices de cualquier tipo

In [20]:
equipo = {'Pedro' : 'Informatico',
         'David' : 'Bilogo',
         'Ester' : 'Cientifica' }

In [21]:
equipo['Pedro']

'Informatico'

In [22]:
for key,value in equipo.items():
    print(key,' - ', value)

Pedro  -  Informatico
David  -  Bilogo
Ester  -  Cientifica

In [23]:
temperaturas = { 'ene':1.3 ,'feb':3.6,'mar':32.3}

In [24]:
temperaturas['ene']

1.3

In [25]:
for k,v in temperaturas.items():
    print(k,' - ', v)

ene  -  1.3
feb  -  3.6
mar  -  32.3